html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 ;
}
body{
    background: url('../images/tile.jpg');
}
div.form-paper{
    background: url('../images/formbg.jpg');
    width: 35%;
    height: 20%;
}
div.form-paper textarea{
    background: transparent;
    border: none;
    outline: none;
    /* height: 100px; */
}