html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 ;
}
body{
    background: url('../images/tile.jpg');
}
header{
    padding: 1em;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 5px;
}
h4{
    font-family: 'Pacifico', cursive;
    background-blend-mode: lighten;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: 900;
}
div.form-container{
    display: flex;
    justify-content: center;
    margin: 3% 0 3% 0;
    height: 30%;
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
}
div.form-paper{
    background: url('../images/formbg.jpg');
    width: 85%;
}
div.form-paper textarea{
    background: transparent;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 1);
    padding: 1.5em 0;
    width: 80%;
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
}
#date{
    background: transparent;
    border: none;
    outline: none;
}
span.glyphicon-remove-sign{
    display: none;
    font-size: 1.5em;
    position: absolute;
    right: 9%;
    top: 5%;
    border-radius: 17px;
    box-shadow: 1px 2px 12px 0px rgba(3, 4, 5, 0.85), inset 1px 2px 0px 0px rgba(3, 4, 5, 0.85);
}
.new-task:hover span.glyphicon-remove-sign{
    display: inline;
}
.glyphicon-remove-sign:hover{
    top: 5.5%;
    cursor: pointer;
}
.glyphicon-remove-sign:active{
    top: 6%;
    box-shadow: 0px 0px 12px 0px rgba(3, 4, 5, 0.85), inset 1px 2px 0px 0px rgba(3, 4, 5, 0.85);
}
.new-task{
    background: url('../images/notebg.png') no-repeat;
    height: 300px;
    width: 200px;
    transition-property: opacity;
    transition-duration: 1.5s;
    opacity: 0;
    overflow: hidden;
    margin: 15px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}
.new-task p {
    padding: 15px 5px 15px 5px;
    height: 175px;
    overflow-y: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}
.new-task div{
    font-weight: 700;
    background-blend-mode: lighten;
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    bottom: 10px;
    z-index: -1;

}
#dueByHeader{
    padding: .2em;
}
.fade-in{
    opacity: 1;
}
.fade-out{
    animation: fadeAway 1s linear;
}

@keyframes fadeAway{
    from {opacity: 1;}
    to {opacity: 0;}
}

@media only screen and (min-width: 768px) {

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 ;
}
body{
    background: url('../images/tile.jpg');
}
header{
    padding: 1em;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 5px;
}
h4.lead{
    position: absolute;
    left: 29%;
}
h4{
    font-family: 'Pacifico', cursive;
    background-blend-mode: lighten;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: 900;
}
div.form-container{
    display: flex;
    justify-content: center;
    margin: 3% 0 3% 0;
    height: 30%;
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
}
div.form-paper{
    background: url('../images/formbg.jpg');
    width: 45%;
}
div.form-paper textarea{
    background: transparent;
    border: none;
    outline: none;
    height: 65%;
    color: rgba(0, 0, 0, 1);
    padding: 1.5em 0;
    width: 80%;
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
}
#date{
    background: transparent;
    border: none;
    outline: none;
}
.task-container{
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
}
span.glyphicon-remove-sign{
    display: none;
    font-size: 1.5em;
    position: absolute;
    right: 9%;
    top: 6%;
    border-radius: 17px;
    box-shadow: 2px 1px 7px 0px rgba(3, 4, 5, 0.85), inset -2px -1px 2px 4px rgba(3, 4, 5, 0.85);
}
.new-task:hover span.glyphicon-remove-sign{
    display: inline;
}
.glyphicon-remove-sign:hover{
    top: 5%;
    cursor: pointer;
}
.glyphicon-remove-sign:active{
    top: 6%;
    box-shadow: 0px 0px 0px 0px rgba(3, 4, 5, 0.85);
}
.new-task{
    background: url('../images/notebg.png') no-repeat;
    height: 300px;
    width: 200px;
    transition-property: opacity;
    transition-duration: 1.5s;
    opacity: 0;
    overflow: hidden;
    margin: 15px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}
.new-task p {
    padding: 15px 5px 15px 5px;
    height: 175px;
    overflow-y: auto;
    font-size: 1em;
}

.new-task div{
    font-weight: 700;
    background-blend-mode: lighten;
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    bottom: 10px;
    z-index: -1;

}
#dueByHeader{
    padding: .2em;
}
.fade-in{
    opacity: 1;
}
.fade-out{
    animation: fadeAway 1s linear;
}
}