html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 ;
}
body{
    background: url('../images/tile.jpg');
}
header{
    padding: 1em;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 5px;
}
div.form-container{
    display: flex;
    justify-content: center;
    margin: 3% 0 3% 0;
    height: 30%;
}
div.form-paper{
    background: url('../images/formbg.jpg');
    width: 85%;
}
div.form-paper textarea{
    background: transparent;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 1);
    padding: 1.5em 0;
    width: 80%;
}

@media only screen and (min-width: 768px) {

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 ;
}
body{
    background: url('../images/tile.jpg');
}
header{
    padding: 1em;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 5px;
}
h4{
    position: absolute;
    left: 29%;
}
div.form-container{
    display: flex;
    justify-content: center;
    margin: 3% 0 3% 0;
    height: 30%;
}
div.form-paper{
    background: url('../images/formbg.jpg');
    width: 45%;
}
div.form-paper textarea{
    background: transparent;
    border: none;
    outline: none;
    height: 65%;
    color: rgba(0, 0, 0, 1);
    padding: 1.5em 0;
    width: 80%;
}
.task-container{
    display: flex; 
}
span.glyphicon-remove-sign{
    display: none;
    font-size: 2em;
    position: absolute;
    right: 9%;
    top: 0%;
}
.new-task:hover span.glyphicon-remove-sign{
    display: inline;
}
.new-task{
    background: url('../images/notebg.png') no-repeat;
    height: 250px;
    width: 200px;
    transition-property: opacity;
    transition-duration: 1.5s;
    opacity: 0;
    overflow: hidden;
}
.new-task p {
    margin-top: 2em;
    padding: 15px 5px 15px 5px;
    height: 175px;
    overflow-y: scroll;
}
.fade-in{
    opacity: 1;
}
.fade-out{
    opacity: 0;
}
}